body {
    color: #54BAB9;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7ECDE;
    text-align: center;
}

h1 {
    colour: #54BAB9;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    colour: #9ED2C6;
    font-size: 2rem;
}
